@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fabbe4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

video {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
}

img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: #db13d1;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #92208c;
}

button:last-child {
  background-color: #caafad;
}

button:last-child:hover {
  background-color: #706a6a;
}

p {
  display: none;
}

.mt {
  margin-top: 1rem;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
